{% extends "base.html" %}
{% block content %}
    <main role="main" class="container" style="width: 300px">
        <h1 style="text-align: center">Deposit</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.account_number.label }}<br>
                {{ form.account_number(class="form-control") }}<br>
                {% for error in form.account_number.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control", type="password") }}<br>
                {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
            <p style="position: relative; left: 70px">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            {{ message }}
        </form>
        <a class="btn btn-primary" style="position: relative; left: 40px" href="/" role="button">Return to the main
            page</a>
    <h1 style="color: brown">{{ bal }}</h1>
    </main>
{% endblock %}