{% extends "base.html" %}
{% block content %}
    <div class="btn-group container-fluid" style="position: relative; top: 200px; height: 120px" role="group"
         aria-label="Basic mixed styles example">
        <a class="btn btn-primary" href="/deposit" style="font-size: 70px" role="button">Deposit</a>
        <a class="btn btn-success" href="/withdraw" style="font-size: 70px" role="button">Withdraw</a>
        <a class="btn btn-warning" href="/balance" style="font-size: 70px" role="button">Balance</a>
        <a class="btn btn-danger" href="/signup" style="font-size: 70px" role="button">Create Account</a>
    </div>
{% endblock %}